* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo_img {
    padding: 1rem;
}

.logo_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #0e343d;
    color: #f4bc67;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom: solid thick #75bba7;
}

.top_nav_item {
    color: #f4bc67;
    text-decoration: none;
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bolder;
    font-size: 1.25rem;
}

.top_nav_item:hover {
    color: #fff;
    background-color: #75bba7;
}

.spacer {
    flex: 1;
}

span {
    color: #f4bc67;
    display: flex;
    align-items: center;
    font-style: italic;
    margin-right: 20px;
}

nav {
    width: 100%;
}

menu {
    display: flex;
    align-items: stretch;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    color: #0e343d;
    flex: 1;
}

button {
    background-color: #fff;
    color: #0e343d;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    margin: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: solid;
    box-shadow: none;
    font-weight: bold;
    transition-duration: 0.4s;
    font-size: .75rem;
    cursor: pointer;
}

button:hover {
    background-color: #75bba7;
    color: #fff;
    border: none;
}

footer {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #0e343d;
    justify-content: center;
    padding: 10px;
}

.left_pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 100px;
}

.right_pane {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: block;
    border-radius: 8px;
    border: solid thin rgb(0 0 0 /0.2);
}

li {
    border-bottom: solid thin rgb(0 0 0 /0.2);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li:last-of-type {
    border-bottom: none;
}

.friend_activity_indicator {
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.active {
    /* background-color: #7AE7C7; */
    background: linear-gradient(180deg, rgba(122, 231, 199, 1) 0%, rgba(117, 187, 167, 1) 100%);
}

.inactive {
    background-color: rgb(0 0 0 / 0.4);
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

.friends_list {
    width: 50%;
}

.username {
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: smaller;
    color: #817F82;
}

input {
    margin-top: 8px;
    padding: 8px;
    width: 410px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: large;
}