* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    padding: 1rem;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #0e343d;
    color: #f4bc67;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom: solid thick #75bba7;
}

main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    color: #0e343d;
    flex: 1;
}

button {
    background-color: #fff;
    color: #0e343d;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    margin: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: solid;
    box-shadow: none;
    font-weight: bold;
    transition-duration: 0.4s;
    font-size: .75rem;
    cursor: pointer;
}

button:hover {
    background-color: #75bba7;
    color: #fff;
    border: none;
}

label {
    display: none;
}

footer {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #0e343d;
    justify-content: center;
    padding: 10px;
}

.top_nav_item {
    color: #f4bc67;
    text-decoration: none;
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bolder;
    font-size: 1.25rem;
}

.top_nav_item:hover {
    color: #fff;
    background-color: #75bba7;
}

.spacer {
    flex: 1;
}

span {
    color: #f4bc67;
    display: flex;
    align-items: center;
    font-style: italic;
    margin-right: 20px;
}

nav {
    width: 100%;
}

menu {
    display: flex;
    align-items: stretch;
    width: 100%;
}

ul {
    list-style-type: none;
}

.calendar {
    display: grid;
    grid-template-columns: [sunday] 1fr [monday] 1fr [tuesday] 1fr [wednesday] 1fr [thursday] 1fr [friday] 1fr [saturday] 1fr [end];
    grid-template-rows: [month] 25% [days] 1fr [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [last-line];
    grid-template-areas:
        "month month month month month month month"
        "none none none none none none none"
        "none none none none none none none"
        "none none none none none none none"
        "none none none none none none none"
        "none none none none none none none"
        "none none none none none none none";
    color: #0e343d;
    align-items: center;
    justify-content: center;
    border: solid thin #0e343d;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 4px;
    border: solid thin rgb(0 0 0 /0.2)
}

.month {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    height: 100px;
    background-color: #75BBA7;
    color: #fff;
    font-weight: bolder;
    grid-area: month;
}

.previous {
    padding-left: 50px;
}

.next {
    padding-right: 50px;
}

.day_names {
    display: contents;
    font-weight: bold;
    color: #817F82;
    text-align: center;
}

.day_names li {
    align-self: flex-start;
    padding: 8px;
}

.calendar_days {
    display: contents;
}

.calendar_days li {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
    font-size: 16px;
    color: #777;
}

.active {
    padding: 5px;
    background: #0e343d;
    color: white !important
}

.left_pane {
    flex: 1;
}

.right_pane {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

textarea {
    resize: none;
    overflow: scroll;
    width: 90%;
    height: 100%;
    margin: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    border: solid thin rgb(0 0 0 /0.2)
}

p {
    width: 50%;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    line-height: 1.5rem;
}

h3 {
    text-align: center;
    padding-top: 50px;
}

.calendar_days a {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
    font-size: 16px;
    color: #777;
    text-decoration: none;
}