* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    display: flex;
    flex-flow: column;
}

img {
    padding: 1rem;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #0e343d;
    color: #f4bc67;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #0e343d;
}

h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.logInFields {
    display: flex;
    flex-direction: column;
}

.logInButtons {
    display: flex;
    flex-direction: row;
}

button {
    background-color: #fff;
    color: #0e343d;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    margin: 15px;
    border-radius: 8px;
    border: solid;
    box-shadow: none;
    font-weight: bold;
    transition-duration: 0.4s;
    font-size: .75rem;
}

button:hover {
    background-color: #75bba7;
    color: #fff;
    border: none;
}

label {
    display: none;
}

input {
    margin: 8px;
    padding: 8px;
    width: 410px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: large;
}

footer {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #0e343d;
    justify-content: center;
    padding: 10px;
}

.top_nav_item {
    color: #f4bc67;
    text-decoration: none;
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bolder;
    font-size: 1.25rem;
}

.top_nav_item:hover {
    color: #fff;
    background-color: #75bba7;
}

.spacer {
    flex: 1;
}

span {
    color: #f4bc67;
    display: flex;
    align-items: center;
    font-style: italic;
}

nav {
    width: 100%;
}

menu {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.log_out_button {
    margin-left: 20px;
    margin-right: 20px;
}