* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    padding: 1rem;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #0e343d;
    color: #f4bc67;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #0e343d;
}

button {
    background-color: #fff;
    color: #0e343d;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    margin: 15px;
    border-radius: 8px;
    border: solid;
    box-shadow: none;
    font-weight: bold;
    transition-duration: 0.4s;
    font-size: .75rem;
}

button:hover {
    background-color: #75bba7;
    color: #fff;
    border: none;
}

label {
    display: none;
}

footer {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #0e343d;
    justify-content: center;
    padding: 10px;
}

.top_nav_item {
    color: #f4bc67;
    text-decoration: none;
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bolder;
    font-size: 1.25rem;
}

.top_nav_item:hover {
    color: #fff;
    background-color: #75bba7;
}

.spacer {
    flex: 1;
}

span {
    color: #f4bc67;
    display: flex;
    align-items: center;
    font-style: italic;
}

nav {
    width: 100%;
}

menu {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.log_out_button {
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

.month {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 50px;
    font-size: 36px;
    height: 100px;
    background-color: #75BBA7;
    color: #fff;
    font-weight: bolder;
    border: solid thin #0e343d;
    border-bottom: none;
}

.previous {
    padding-left: 50px;
}

.next {
    padding-right: 50px;
}

.day_names {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 87px;
    padding-right: 87px;
    font-weight: bold;
    color: #817F82;
    border: solid thin #0e343d;
    border-top: none;
}

.calendar_days {
    width: 75%;
}

.calendar_days li {
    display: grid;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}