header {
    background-color: #0e343d;
    color: #f4bc67;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.logo_img {
    padding: 1rem;
}

.logo_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.top_nav_item {
    color: #f4bc67;
    text-decoration: none;
    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bolder;
    font-size: 1.25rem;
}

.top_nav_item:hover {
    color: #fff;
    background-color: #75bba7;
}

.spacer {
    flex: 1;
}